---
import ArticleNavigation from "../../components/ArticleNavigation.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import TLDR from "../../components/TLDR.astro";
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((blogPost) => {
    return {
      params: { slug: blogPost.slug },
      props: blogPost,
    };
  });
}
type Props = CollectionEntry<"blog">;

const blogPost = Astro.props;
const { Content, headings } = await blogPost.render();
---

<Layout title={`${blogPost.data.title} | Tufan Calisir`}>
  <Breadcrumb />
  <div class="mb-4 text-center sm:mb-8">
    <h1
      class="font-RobotoCondensed text-2xl font-medium uppercase md:text-3xl"
    >
      {blogPost.data.title}
    </h1>
    <FormattedDate classNames={['block', 'mb-3', 'md:mb-4']} date={blogPost.data.pubDate} />
    <p class="mx-auto max-w-md">{blogPost.data.description}</p>
  </div>
  <ArticleNavigation headlines={headings} tldr={blogPost.data.tldr} />
  <article
    class="divider prose max-w-full dark:prose-invert prose-h2:font-RobotoCondensed prose-h3:font-RobotoCondensed"
  >
    <Content />
    <TLDR tldr={blogPost.data.tldr} />
  </article>
</Layout>
