---
import Layout from "../../layouts/Layout.astro";
import TagList from "../../components/TagList.astro";
import BlogTeaserCard from "../../components/BlogTeaserCard.astro";
import { getCollection, CollectionEntry } from "astro:content";
import Breadcrumb from "../../components/Breadcrumb.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { filteredPosts },
    };
  });
}
type blogPost = CollectionEntry<"blog">;

const { tag } = Astro.params;
const { filteredPosts } = Astro.props;
---

<Layout title={`Blogartikel mit dem Tag: ${tag} | Tufan Calisir`} description={`Entdecken Sie unsere handverlesene Auswahl von Blogartikeln zum Tag '${tag}'. Tauchen Sie ein in informative Beiträge zu diesem Thema und erweitern Sie Ihr Wissen in der faszinierenden Welt der Technologie.`}>
  <Breadcrumb />
  <h1 class="mb-6 font-RobotoCondensed text-2xl font-bold uppercase">
    Blogartikel mit dem Tag: {tag}
  </h1>
  <TagList />
  <ul class="divider">
    {
      filteredPosts.map((post: blogPost) => {
        return (
          <li class="divider">
            <BlogTeaserCard
              title={post.data.title}
              description={post.data.description}
              date={post.data.pubDate}
              slug={post.slug}
              readtime={post.data.readtime}
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
